
/* App.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #282c34;
  padding: 20px 0;
  color: white;
}

main {
  flex: 1;
  padding: 20px;
}

h1 {
  margin: 0;
}

select {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

option {
  font-size: 16px;
}

.content-container {
  text-align: left;
}

.section {
  margin-top: 20px;
}

.section h2 {
  color: #333;
  border-bottom: 2px solid #ccc;
  padding-bottom: 10px;
}
